html {
    height: 100%;
    font-size: 15px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    font-family: 'Yu Gothic Light', sans-serif;
    font-weight: lighter;
}

canvas {
}