html {
    height: 100%;
    font-size: 15px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    font-family: Courier, "游明朝", monospace;
    font-weight: lighter;
}

canvas {
    /* position: absolute; */
    background-color: rgb(230, 230, 230);
}

#operate {
    position: absolute;
    left: 20px;
    top: 20px;
}

button {
    box-sizing: border-box;
    width: 100px;
    height: 30px;

    border-radius: 0.5rem;
    border-style: none;
    border-width: thin;
    background-color: rgb(100, 200, 100);

    font-family: Courier, "游明朝", monospace, 'Yu Gothic Light', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;

    margin-top: 5px;
}

button:hover {
    background-color: rgb(110, 210, 110);
}

#tablearea {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

table {
    display: block;

    margin-left: 30px;
    margin-bottom: 10px;

    max-height: 100%;
    
    resize: block;
    overflow-y: scroll;

    border-style: none;
    border-width: 1px;
    border-spacing: 0;
}

thead {
    position: sticky;
    top: 0;
    background: white;
}

th, td {
    width: 50px;

    border-color:rgb(170, 170, 170);
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-width: 1px;

    text-align: center;
}