html {
    height: 100%;
    font-size: 15px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    font-family: 'Yu Gothic Light', sans-serif;
    font-weight: lighter;
}

#operate {
    position: absolute;
    left: 20px;
    top: 20px;
}
button {
    box-sizing: border-box;
    width: 100px;

    border-radius: 2rem;
    border-width: thin;
    background-color: transparent;

    font-family: 'Yu Gothic Light', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;

    margin-top: 5px;
}

table {
    display: block;
    background: white;

    position: absolute;
    top: 0;
    right: 0;

    max-height: 100%;
    
    resize: block;
    overflow-y: scroll;

    border: 1px solid;
    border-spacing: 0;
}

th, td {
    width: 50px;
    border: 1px solid;
    text-align: center;

    /* border-top-width: 0;
    border-left-width: 0; */
}

thead {
    position: sticky;
    top: 0;
    background: white;
}